################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/!ws
/tests/Reflection-Tests/obj
/libraries/Reflection/obj

