# lead
[submodule "@utomation"]
	path = @utomation
	url = https://aftertime.visualstudio.com/Extensions/_git/Automation
	branch = lead
[submodule ".attributes"]
	path = .attributes
	url = https://aftertime.visualstudio.com/Extensions/_git/Attributes
	branch = lead
