################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tests/Reflection-Tests/obj
/tests/Reflection-Tests/bin
/libraries/Reflection/obj
/libraries/Reflection/bin
